button {
  padding: 0.75em 1em;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  border: none;
  border-radius: 3px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.08), 2px 3px 4px rgba(0, 0, 0, 0.12),
    1px 2px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  font-size: 1em;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

button:hover {
  background-color: var(--primary-color-hover);
}

button:active {
  background-color: var(--primary-color-active);
  transform: translate(1px, 2px);
  box-shadow: none;
}

button:focus {
  outline: 2px solid var(--primary-color-focus);
}

/* Disabled buttons should not move or change color when clicked */
button:disabled:hover,
button:disabled:active {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  transform: none;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.08), 2px 3px 4px rgba(0, 0, 0, 0.12),
    1px 2px 2px rgba(0, 0, 0, 0.24);
}

/* Secondary button */
button.secondary {
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
}

button.secondary:hover {
  background-color: var(--secondary-color-hover);
}

button.secondary:active {
  background-color: var(--secondary-color-active);
}

button.secondary:focus {
  outline: 2px solid var(--secondary-color-focus);
}

/* Disabled secondary buttons should not move or change color when clicked */
button.secondary:disabled:hover,
button.secondary:disabled:active {
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
}

/* Success button */
button.success {
  background-color: var(--success-color);
  color: var(--success-text-color);
}

button.success:hover {
  background-color: var(--success-color-hover);
}

button.success:active {
  background-color: var(--success-color-active);
}

button.success:focus {
  outline: 2px solid var(--success-color-focus);
}

/* Disabled success buttons should not move or change color when clicked */
button.success:disabled:hover,
button.success:disabled:active {
  background-color: var(--success-color);
  color: var(--success-text-color);
}

/* Danger button */
button.danger {
  background-color: var(--danger-color);
  color: var(--danger-text-color);
}

button.danger:hover {
  background-color: var(--danger-color-hover);
}

button.danger:active {
  background-color: var(--danger-color-active);
}

button.danger:focus {
  outline: 2px solid var(--danger-color-focus);
}

/* Disabled danger buttons should not move or change color when clicked */
button.danger:disabled:hover,
button.danger:disabled:active {
  background-color: var(--danger-color);
  color: var(--danger-text-color);
}

/* Warning button */
button.warning {
  background-color: var(--warning-color);
  color: var(--warning-text-color);
}

button.warning:hover {
  background-color: var(--warning-color-hover);
}

button.warning:active {
  background-color: var(--warning-color-active);
}

button.warning:focus {
  outline: 2px solid var(--warning-color-focus);
}

/* Disabled warning buttons should not move or change color when clicked */
button.warning:disabled:hover,
button.warning:disabled:active {
  background-color: var(--warning-color);
  color: var(--warning-text-color);
}

/* Non-button elements styled as buttons */
/* Non-button elements are most like secondary buttons so we will use secondary button styles */
[role="button"] {
  cursor: pointer;
  user-select: none;
  padding: 0.5rem 0.75rem;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.08), 2px 3px 4px rgba(0, 0, 0, 0.12),
    1px 2px 2px rgba(0, 0, 0, 0.24);
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}
[role="button"]:hover {
  background-color: var(--secondary-color-hover);
}

[role="button"]:active {
  background-color: var(--secondary-color-active);
  transform: translate(1px, 2px);
  box-shadow: none;
}
[role="button"]:focus {
  outline: 2px solid var(--secondary-color-focus);
}
/* Since "disabled" is only supported by inputs: <button>, <fieldset>, 
<optgroup>, <option>, <select>, <textarea> and <input>, we will not 
include a disabled style for [role="button"]. We do not want to support
the idea of making an input a clickable element outside of their existing
support for user interaction */
